<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Sistema de Estoque</title>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
			integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
			crossorigin="anonymous" referrerpolicy="no-referrer" />
		<style>
			body {
			padding-top: 4.5rem;
			}
		</style>
	</head>
	<body>
		<div th:replace="fragments/menu :: menu"></div>
		<div class="container">
			<div class="bg-light p-5 rounded">
				<h1>Página inicial</h1>
				<p class="lead">Seja bem-vindo ao sistema de estoque</p>
			</div>
		</div>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.esm.min.js"
			integrity="sha512-ruQ4xI8Jfep9W+qJQ8FLbxsjPVR0WvEt31XNw0mZxri2Nya9eQr7VTFsi+S7OvW0bIUI7vxF8zoaPNSq/PsvxA=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	</body>
</html>