<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Sistema de Estoque</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <style>
         body {
           padding-top: 4.5rem;
         }
      </style>
   </head>
   <body>
	   <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	      <div class="container-fluid">
	         <a class="navbar-brand" href="/">Sistema de Estoque</a>
	         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	         </button>
	         <div class="collapse navbar-collapse" id="navbarCollapse">
	            <ul class="navbar-nav me-auto mb-2 mb-md-0">
	               <li class="nav-item">
	                  <a class="nav-link active" aria-current="page" href="/produtos">Produto</a>
	               </li>
	               <li class="nav-item">
	                 <a class="nav-link active" href="/clientes">Cliente</a>
	               </li>
	               <li class="nav-item">
	                  <a class="nav-link active" href="/fornecedores">Fornecedor</a>
	               </li>
	               <li class="nav-item">
	                  <a class="nav-link active" href="/nota-entrada">Nota de entrada</a>
	               </li>
	               <li class="nav-item">
	                  <a class="nav-link active" href="/nota-saida">Nota de saída</a>
	               </li>
	               <li class="nav-item">
	                  <a class="nav-link active" href="/estoque">Estoque</a>
	               </li>
	               <li class="nav-item">
	                  <a class="nav-link active" href="/logout">Sair</a>
	               </li>
	            </ul>
	         </div>
	      </div>
	   </nav>
	   <div class="container">
	      <div class="bg-light p-5 rounded">
	         <h1>Página inicial</h1>
	         <p class="lead">Seja bem-vindo ao sistema de estoque</p>
	      </div>
	   </div>
	   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.esm.min.js" integrity="sha512-ruQ4xI8Jfep9W+qJQ8FLbxsjPVR0WvEt31XNw0mZxri2Nya9eQr7VTFsi+S7OvW0bIUI7vxF8zoaPNSq/PsvxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   </body>
</html>